.large-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.large-recipe-image {
  max-width: 556px;
  width: 100%;
  max-height: 370px;
  height: 100%;
}
.large-recipe-info {
  max-width: 1124px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.large-recipe-heading {
  display: flex;
  max-width: 556px;
}
.large-recipe-heading h1 {
  max-width: 380px;
  text-align: left;
  font-size: 40px;
  color: #254d13;
}
.large-recipe-times {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.minutes-badge,
.favorite-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  max-width: 210px;
  height: max-content;
  max-height: 45px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  margin: 8px 0;
}
.minutes-badge > * {
  padding: 0 7px;
}
.preparation-minutes {
  background-color: #92ba92;
}
.cooking-minutes {
  background-color: #ff8531;
}
.readyIn-minutes {
  background-color: #008b8b;
}
.large-recipe-summary {
  max-width: 556px;
  text-align: left;
  color: rgb(56, 52, 40);
}

.large-recipe-summary a {
  color: #254d13;
}
.ingredients-heading {
  text-align: right;
  color: rgb(56, 52, 40);
}
.large-recipe-ingredients {
  margin: 2rem 0;
}
.large-recipe-ingredient-cards {
  max-width: 1124px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.large-recipe-instructions {
  color: black;
  text-align: left;
}
.favorite-badge {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.favorite-badge > * {
  padding: 0 5px;
}
.favorite-badge:hover {
  background-color: #ff69b4 !important;
}
