.large-recipe-container {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  h2 {
    font-size: 21px;
  }
}
.large-recipe-image {
  max-width: 556px;
  width: 100%;
  max-height: 370px;
  height: 100%;
}
.large-recipe-image > img {
  width: 100%;
  height: 100%;
}
.large-recipe-info {
  max-width: 1124px;
  height: min-content;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.large-recipe-heading {
  display: flex;
  max-width: 556px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.large-recipe-heading h1 {
  max-width: 380px;
  text-align: left;
  font-size: 40px;
  color: #254d13;
}

.large-recipe-times {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.minutes-badge,
.favorite-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 210px;
  height: max-content;
  max-height: 45px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  margin: 8px 0;
  text-align: center;
  svg {
    width: 25px;
    height: 25px; 
    justify-self: start;
  }
}
.minutes-badge > * {
  padding: 0 7px;
}
.preparation-minutes {
  background-color: #92ba92;
}
.cooking-minutes {
  background-color: #ff8531;
}
.readyIn-minutes {
  background-color: #008b8b;
}
.large-recipe-summary {
  max-width: 556px;
  height: min-content;
  text-align: left;
  color: rgb(56, 52, 40);
}

.large-recipe-summary a {
  color: #254d13;
}
.ingredients-heading {
  text-align: right;
  color: rgb(56, 52, 40);
}
.large-recipe-ingredients {
  margin: 2rem 0;
  height: min-content;
}
.large-recipe-ingredient-cards {
  max-width: 1124px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.large-recipe-instructions {
  color: black;
  text-align: left;
}
.favorite-badge {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.favorite-badge > * {
  padding: 0 5px;
}
.favorite-badge:hover {
  background-color: #ff69b4 !important;
}
@media (max-width: 768px) {
  .large-recipe-image {
    max-width: 100%;
  }
  .large-recipe-heading {
    justify-content: center;

    h1 {
      font-size: 32px;
      width: min-content;
      margin-right: 40px; 
    }
  }

.minutes-badge,
.favorite-badge {
  font-size: 12px;
}
.large-recipe-summary {
  font-size: 14px;
  max-width: 360px;
}
.large-recipe-ingredients, .large-recipe-instructions {
  max-width: 360px;
  width: 100%;
  h2 {
    text-align: left;
  }
  .large-recipe-ingredient-cards {
    flex-direction: column;
    width: 100%;

    .ingredient-card {
      width: 100%;
      margin: 0;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }
}
.large-recipe-instructions {
  .instructions-container {
    padding: 0;
    li {
      margin-bottom: 25px;
    }
    li > p {
      font-size: 14px;
    }
  }
}
}