.favorites-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorited-recipes {
  width: 80%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.favorited-recipes > * {
  margin-bottom: 40px;
}
