.recipe-card {
  max-width: 380px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 20px 18px 29px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 18px 29px -17px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.recipe-card:hover {
  transform: translateY(3%);
}
.recipe-card:hover .recipe-card-title {
  color: #254d13;
}
.recipe-card:hover .recipe-card-ingredients > li > p {
  color: #aaa;
}
.recipe-card-img {
  width: 90%;
  height: 30%;
  margin: 12px 8px 8px 8px;
}
.recipe-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.recipe-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.recipe-card-info-top {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.recipe-card-title {
  width: 200px;
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  margin: 5px 10px 0 0;
  transition: 0.3s ease-in-out;
}
.recipe-card-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80px;
}
.recipe-card-minutes {
  color: #ccc;
  font-size: 12px;
}
.recipe-card-ingredients {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  width: 90%;
  text-align: left;
  color: #bbb;
}
.recipe-card-ingredients > li > p {
  transition: 0.3s ease-in-out;
  font-size: 11px;
  margin: 3px 5px 0 0;
}
.recipe-card-badges {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.recipe-card-diet-badges {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.recipe-card-heart {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-card-heart,
.recipe-card-heart > svg {
  transition: 0.3s ease-in-out;
}
.recipe-card-heart > svg {
  width: 18px;
  height: 18px;
}
.recipe-card-heart:hover {
  background-color: #eea9b8 !important;
}
.recipe-card-heart:hover > svg {
  fill: #ff69b4;
}
