#root {
  max-width: 100vw;
  height: 120vh;
  margin: 0 auto;

  box-sizing: border-box;
  text-align: center;
}
.app-wrapper {
  width: 100%;
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
