#root {
  width: 100%;
  min-height: 110vh;
  height: max-content;
  margin: 0;

  text-align: center;
}
.app-wrapper {
  width: 100%;
  min-height: 110vh;
  height: max-content;
  position: relative;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
