.homepage-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .homepage-layout {
    flex-direction: column;
  }
  .displayed-cards {
    width: 80%;
    flex-wrap: wrap;
  }
  .filters-bar {
    width: 100%;
    position: static;
  }
}


